/* titillium-web-regular - latin */
@font-face {
    font-family: 'Titillium';
    font-style: normal;
    font-weight: 400;
    src: local('Titillium'), local('Titillium'),
         url('../fonts/titillium.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/titillium.woff') format('woff'), /* Modern Browsers */
  }
#TpmsContainer {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    z-index: 20001;
    background: url('../img/background.jpg') no-repeat scroll center center;
    font-size: 18px;
    line-height: 22px;
    font-family: 'Titillium', Arial, sans-serif;
    color: #fff;
}
/* ************
 * Info Layer */
#TpmsContainer #InfoLayer {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    transition: margin 1s;
    background: url('../img/topview_470.png') no-repeat scroll center center;
}
/* Tire Containers */
#TpmsContainer #InfoLayer .tireContainer {
    position: absolute;
    width: 150px;
    height: 59px;
    border: none; /* 1px solid rgba(255,255,255,.15); /* DEBUG */
    font-family: 'Titillium', Arial, sans-serif;
}
#TpmsContainer #InfoLayer .tireContainer.front {
    top: 64px;
}
#TpmsContainer #InfoLayer .tireContainer.rear {
    top: 286px;
}
#TpmsContainer #InfoLayer .tireContainer.left {
    text-align: right;
    direction: rtl;
    left: auto;
    right: 461px;
}
#TpmsContainer #InfoLayer .tireContainer.right {
    text-align: left;
    direction: ltr;
    right: auto;
    left: 462px;
}
/* Tire */
#TpmsContainer #InfoLayer .tireContainer .tire {
    position: relative;
    display: inline-block;
    width: 19px;
    height: 57px;
    border: 1px solid rgba(255,255,255,.4);
    border-radius: 3px;
}
#TpmsContainer #InfoLayer .tireContainer .tire.warning {
    box-shadow: 10px 0 20px 0 rgba(200,0,0,.5), 0 -5px 10px 0 rgba(200,0,0,.5), 0 5px 10px 0 rgba(200,0,0,.5);
}
/* Bar Graph */
#TpmsContainer #InfoLayer .tireContainer .barGraph {
    position: relative;
    display: inline-block;
    width: 6px;
    height: 57px;
    background: rgba(255,255,255,.1);
    margin-left: 5px;
    margin-right: 5px;
    border-top: rgba(255,255,255,.5);
    border-bottom: rgba(255,255,255,.5);
    overflow: hidden;
}
#TpmsContainer #InfoLayer .tireContainer .barGraph .bar {
    position: absolute;
    width: 100%;
    bottom: 0;
    max-height: 57px;
    transition: all 1s ease;
}
#TpmsContainer #InfoLayer .tireContainer .barGraph .scale {
    display: none;
    width: 100%;
    height: 1px;
    background: rgba(255,255,255,1);
    display: block;
    z-index: 99;
    position: absolute;
    opacity: .5;
}
#TpmsContainer #InfoLayer .tireContainer .barGraph .scale.black {
    background: rgba(0,0,0,1);
}
#TpmsContainer #InfoLayer .tireContainer .barGraph .scale.scalewarn {
    display: none;
    background: rgba(255,0,0,1);
}
/* Pressure */
#TpmsContainer #InfoLayer .tireContainer .pressure {
    display: inline-block;
    position: absolute;
    font-family: sans-serif;
    color: #FFF;
    margin: 28px 5px auto;
    direction: ltr;
    font-family: 'Titillium', Arial, sans-serif;
}
#TpmsContainer #InfoLayer .tireContainer .pressure .pressureValue {
    font-size: 35px;
    line-height: 35px;
    font-family: 'Titillium', Arial, sans-serif;
}
#TpmsContainer #InfoLayer .tireContainer .pressure .pressureUnit {
    display: block;
    font-size: 16px;
    line-height: 16px;
    color: rgba(255,255,255,.5);
    font-family: 'Titillium', Arial, sans-serif;
}
/* Temperature */
#TpmsContainer #InfoLayer .tireContainer .temperature {
    display: inline-block;
    position: absolute;
    font-family: sans-serif;
    color: #FFF;
    margin: -2px 10px auto;
    direction: ltr;
    font-family: 'Titillium', Arial, sans-serif;
}
#TpmsContainer #InfoLayer .tireContainer .temperatureValue {
    font-size: 25px;
    line-height: 25px;
    opacity: .6;
    font-family: 'Titillium', Arial, sans-serif;
}
#TpmsContainer #InfoLayer .tireContainer .temperatureUnit {
    margin-left: 1px;
    font-size: 25px;
    line-height: 25px;
    opacity: .4;
    font-family: 'Titillium', Arial, sans-serif;
}
/* ************
 * Side Items */
#TpmsContainer #InfoLayer .sideItem {
    position: fixed;
    width: 125px;
    padding: 10px;
    border: 1px solid rgba(255,255,255,0);
    transition: all 1s ease;
}
#TpmsContainer #InfoLayer .sideItem .sideItemEngine {
    display: none;
}
#TpmsContainer #InfoLayer .sideItemLeft {
    left: 0;
    text-align: right;
    padding-left: 0;
    border-left: none;
}
#TpmsContainer #InfoLayer .sideItemRight {
    right: 0;
    text-align: left;
    padding-right: 0;
    border-right: none;
}
#TpmsContainer #InfoLayer .sideItemOne {
    top: 100px;
}
#TpmsContainer #InfoLayer .sideItemTwo {
    top: 175px;
}
#TpmsContainer #InfoLayer .sideItemThree {
    top: 250px;
}
#TpmsContainer #InfoLayer .sideItemFour {
    top: 325px;
}
#TpmsContainer #InfoLayer .sideItem .sideItemTop {
    margin-bottom: 2px;
}
#TpmsContainer #InfoLayer .sideItem .sideItemTop .sideItemValue {
    font-size: 30px;
    line-height: 30px;
    color: rgba(255,255,255,1);
    font-family: 'Titillium', Arial, sans-serif;
}
#TpmsContainer #InfoLayer .sideItem .sideItemTop .sideItemUnit {
    margin-left: 2px;
    font-size: 16px;
    line-height: 16px;
    color: rgba(255,255,255,.5);
    font-family: 'Titillium', Arial, sans-serif;
}
#TpmsContainer #InfoLayer .sideItem .sideItemBottom {
    border-top: 1px solid #fff;
    color: rgba(255,255,255,.5);
    font-size: 14px;
    line-height: 22px;
    font-family: 'Titillium', Arial, sans-serif;
}
/* *************
 * Setup Layer */
#TpmsContainer #SetupLayer {
    display: block;
}
#TpmsContainer #SetupLayer #SetupContainer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    /*border: 1px solid rgba(255,255,255,.75);*/
}
/* ************
 * Tire Setup */
#TpmsContainer #SetupLayer #SetupContainer #TireIdSetup {
    width: 90%;
    position: absolute;
    top: 20px;
    right: -5%;
    bottom: 10px;
    text-align: center;
    opacity: 0;
    transition: all 1s;
}
#TpmsContainer #SetupLayer #SetupContainer #TireIdSetup #idContainer {
    position: absolute;
    width: 65%;
    height: 100%;
}
#TpmsContainer #SetupLayer #SetupContainer #TireIdSetup #idContainer .SetupIDBox {
    position: absolute;
    padding: 5px;
    width: 190px;
    height: 140px;
    border: 1px solid rgba(255,255,255,.75);
    background: rgba(0, 0, 0, .75);
    font-size: 18px;
    line-height: 22px;
    font-family: 'Titillium', Arial, sans-serif;
    text-align: left;
    color: #fff;
}
#TpmsContainer #SetupLayer #SetupContainer #TireIdSetup #idContainer #SetupIDBox1 {
    left: 20px;
    top: 15px;
}
#TpmsContainer #SetupLayer #SetupContainer #TireIdSetup #idContainer #SetupIDBox2 {
    right: 20px;
    top: 15px;
}
#TpmsContainer #SetupLayer #SetupContainer #TireIdSetup #idContainer #SetupIDBox3 {
    left: 20px;
    bottom: 15px;
}
#TpmsContainer #SetupLayer #SetupContainer #TireIdSetup #idContainer #SetupIDBox4 {
    right: 20px;
    bottom: 15px;
}
/**/
#TpmsContainer #SetupLayer #SetupContainer #TireIdSetup #idContainer .SetupIDBox span {
  display: block;
}
#TpmsContainer #SetupLayer #SetupContainer #TireIdSetup #idContainer .SetupIDBox span.label {
  text-transform: uppercase;
}
#TpmsContainer #SetupLayer #SetupContainer #TireIdSetup #idContainer .SetupIDBox span.id {
  margin-top: 10px;
  /*text-transform: full-width;*/
  /*letter-spacing: -6px;*/
}
#TpmsContainer #SetupLayer #SetupContainer #TireIdSetup #idContainer .SetupIDBox span.id:before {
  content: "ID: ";
  color: rgba(255,255,255,.5);
  text-transform: none;
  letter-spacing: normal;
}
#TpmsContainer #SetupLayer #SetupContainer #TireIdSetup #idContainer .SetupIDBox span.pres {
  margin-top: 10px;
}
#TpmsContainer #SetupLayer #SetupContainer #TireIdSetup #idContainer .SetupIDBox span.pres:after {
  content: " bar";
  color: rgba(255,255,255,.5);
}
#TpmsContainer #SetupLayer #SetupContainer #TireIdSetup #idContainer .SetupIDBox span.temp {
  margin-top: 5px;
}
#TpmsContainer #SetupLayer #SetupContainer #TireIdSetup #idContainer .SetupIDBox span.temp:after {
  content: "°C";
  color: rgba(255,255,255,.5);
}
/**/
#TpmsContainer #SetupLayer #SetupContainer #TireIdSetup #idContainer .SetupIDBox.active {
  border-color: rgba(255,0,0,.75);
}
/**/
#TpmsContainer #SetupLayer #SetupContainer #TireIdSetup .buttonContainer {
    position: absolute;
    right: 0;
    width: 30%;
}
#TpmsContainer #SetupLayer #SetupContainer #TireIdSetup button {
    position: relative;
    display: block;
    background: none;
    outline: none;
    padding: 10px;
    width: 95%;
    margin: 15px auto 35px;
    text-align: center;
    border: 1px solid rgba(255,255,255,.5);
    transition: border-color .25s ease;
    color: #fff;
    font-size: 18px;
    line-height: 22px;
    font-family: 'Titillium', Arial, sans-serif;
}
#TpmsContainer #SetupLayer #SetupContainer #TireIdSetup button.active {
  border-color: rgba(255,0,0,.75);
}
/* *************
 * Setup Modal */
#SetupLayer #SetupModal {
  display: none;
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  /*overflow: hidden;*/
  background: rgba(0,0,0,.75);
}
#SetupLayer #SetupModal ul#SetupModalIDBox {
  display: block;
  list-style-type: none;
  position: relative;
  width: 300px;
  margin: 75px auto;
}
#SetupLayer #SetupModal ul li {
  text-align: left;
  padding: 5px;
  margin-top: -1px;
  border: 1px solid rgba(255,255,255,.75);
  z-index: 99;
}
#SetupLayer #SetupModal ul li.active {
  border-color: rgba(255,0,0,.75);
  position: relative;
  z-index: 999;
}
#SetupLayer #SetupModal ul li span {
  display: inline-block;
}
#SetupLayer #SetupModal ul li span.id {
  text-transform: none;
  /*letter-spacing: -6px;*/
}
#SetupLayer #SetupModal ul li span.id:before {
  content: "ID: ";
  color: rgba(255,255,255,.5);
  /*text-transform: none;*/
  /*letter-spacing: normal;*/
}
#SetupLayer #SetupModal ul li span.pres {
  margin-left: 15px;
  float: right;
}
#SetupLayer #SetupModal ul li span.pres:after {
  content: " bar";
  color: rgba(255,255,255,.5);
}
#SetupLayer #SetupModal ul li span.temp {
  margin-left: 15px;
  width: 50px;
  text-align: right;
  float: right;
}
#SetupLayer #SetupModal ul li span.temp:after {
  content: "°C";
  color: rgba(255,255,255,.5);
}
#SetupLayer #SetupModal #SetupModalSaveWarning {
  display: none;
}
/* ***************
 * Setup Message */
#MessageContainer {
  display: none;
  position: absolute;
  top: 21px;
  left: 21px;
  right: 21px;
  bottom: 21px;
  overflow: hidden;
  background: rgba(0,0,0,.75);
  font-size: 18px;
  line-height: 22px;
  font-family: 'Titillium', Arial, sans-serif;
}
/* *********
 * Actions */
#TpmsContainer.SetupActive #InfoLayer {
    margin-left: -16%;
}
#TpmsContainer.SetupActive .sideItem {
    top: -100px;
}
#TpmsContainer.SetupActive #SetupLayer #SetupContainer #TireIdSetup {
    opacity: 1;
    right: 5%;
}
#TpmsContainer.SetupActive #InfoLayer .tireContainer {
  opacity: .5;
}
/* *************
 * Debug Layer */
#TpmsContainer #DebugLayer {
    display: none;
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    overflow: hidden;
    background: rgba(0,0,0,.5);
    border: 1px solid #fff;
    font-size: 14px;
    line-height: 22px;
    font-family: 'Titillium', Arial, sans-serif;
}
#TpmsContainer #DebugLayer #debugContainer {
    position: absolute;
    bottom: 0;
}
#TpmsContainer #DebugLayer #debugContainer span.z {
    display: inline-block;
    width: 25px;
    margin-right: 5px;
    text-align: right;
}